In [15]:
import pandas as pd

In [27]:
import numpy as np

In [17]:
d

   a  b
0  3  4
1  1  5
2  2  6

In [23]:
def fn(x):
    return [x+1, x+2]

In [26]:
d.apply(lambda x:fn(x['b']), axis=1, result_type='expand')

   0  1
0  5  6
1  6  7
2  7  8

In [33]:
d['b'].reset_index()

   index  b
0      0  4
1      1  5
2      2  6

In [35]:
d['b'].reset_index().apply(lambda x: fn(x['b']), axis=1, result_type='expand')

   0  1
0  5  6
1  6  7
2  7  8