In [5]:
import pandas as pd

In [6]:
k = pd.DataFrame({'c1':[2,1,3,0,0]})

In [7]:
m = pd.DataFrame({'c1':[1, 2], 'c2':[0, 1], 'c3':[-1,-2]})
# m = pd.DataFrame({'c2':[1, 1, 2, 2], 'c3':[0, 1, 2, 3]})

In [8]:
kk = pd.merge(k, m, on='c1', how='left')
kk

   c1   c2   c3
0   2  1.0 -2.0
1   1  0.0 -1.0
2   3  NaN  NaN
3   0  NaN  NaN
4   0  NaN  NaN

In [9]:
kk['c2'] - kk['c1']

0   -1.0
1   -1.0
2    NaN
3    NaN
4    NaN
dtype: float64