In [1]:
import pandas as pd

In [55]:
# 测试数据
test = pd.read_csv('data/invite_info_evaluate_0926.txt', header=None, sep='\t')
test.columns = ['qid', 'uid', 'i_start_date']

# 答案
answer_info = pd.read_csv('data/answer_info_0926.txt', header=None, sep='\t')
answer_info.columns = ['aid', 'qid', 'uid', 'a_start_date', 'a_sw', 'a_w', 'good', 'recommend', 
                       'round_table', 'picture', 'video', 'num_word', 'num_agree', 'num_cancel_agree',
                       'num_commend', 'num_collect', 'num_thank', 'num_report', 'num_helpless', 'num_disagree']

In [56]:
test = pd.merge(test, answer_info, how='left', on=['qid', 'uid'])

In [57]:
len(test)

1141683

In [58]:
test.count()

qid                 1141683
uid                 1141683
i_start_date        1141683
aid                       0
a_start_date              0
a_sw                      0
a_w                       0
good                      0
recommend                 0
round_table               0
picture                   0
video                     0
num_word                  0
num_agree                 0
num_cancel_agree          0
num_commend               0
num_collect               0
num_thank                 0
num_report                0
num_helpless              0
num_disagree              0
dtype: int64

In [59]:
user_stat_raw = pd.read_csv('feature/user_stat_raw.txt', sep='\t')

In [60]:
user_stat_raw

,uid,u_total_word_raw,u_total_agree_raw,u_total_cancel_raw,u_total_commend_raw,u_total_collect_raw,u_total_thank_raw,u_total_report_raw,u_total_helpless_raw,u_total_disagree_raw,u_total_invite_raw
0,M1000000382,0,0,0,0,0,0,0,0,0,8
1,M1000000983,122,0,0,0,0,0,0,0,0,14
2,M1000008978,6,0,0,0,0,0,0,0,0,9
3,M1000020034,90,0,0,0,0,0,0,0,0,3
4,M1000022555,73,0,0,0,0,0,0,0,0,5
...,...,...,...,...,...,...,...,...,...,...,...
767290,M999984680,208,0,0,0,0,0,0,0,0,9
767291,M999988985,2824,5,0,9,2,1,1,0,0,14
767292,M999995457,541,1,0,0,1,0,0,0,0,6
767293,M999998695,206,0,0,0,0,1,0,0,0,6
767294,M999998888,27,1,0,0,0,0,0,0,0,4

In [61]:
temp = test.merge(user_stat_raw[['uid', 'u_total_word_raw']], on='uid', how='left')

In [62]:
temp

,qid,uid,i_start_date,aid,a_start_date,a_sw,a_w,good,recommend,round_table,...,num_word,num_agree,num_cancel_agree,num_commend,num_collect,num_thank,num_report,num_helpless,num_disagree,u_total_word_raw
0,Q1493039281,M64135255,D3870-H9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2052.0
1,Q2023398782,M2536956560,D3872-H22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Q4151338694,M3294926344,D3874-H15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,568.0
3,Q3271436624,M3744310794,D3873-H4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,28.0
4,Q3314287018,M1349051752,D3872-H19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1141678,Q1238703523,M2010778235,D3869-H20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,94.0
1141679,Q1074024036,M3131383616,D3872-H21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,55.0
1141680,Q3478846332,M1872860897,D3871-H15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,133.0
1141681,Q734170704,M3574631517,D3871-H8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,723.0
1141682,Q2590286630,M3168697168,D3873-H9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2744.0