In [2]:
import pandas as pd

In [4]:
base_path = './data'

train = pd.read_csv(f'{base_path}/invite_info_0926.txt', sep='\t', header=None)
train.columns = ['qid', 'uid', 'dt', 'label']

test = pd.read_csv(f'{base_path}/invite_info_evaluate_0926.txt', sep='\t', header=None)
test.columns = ['qid', 'uid', 'dt']

In [5]:
def extract_day(s):
    return s.apply(lambda x: int(x.split('-')[0][1:]))


def extract_hour(s):
    return s.apply(lambda x: int(x.split('-')[1][1:]))

train['day'] = extract_day(train['dt'])
train['hour'] = extract_hour(train['dt'])

test['day'] = extract_day(test['dt'])
test['hour'] = extract_hour(test['dt'])

del train['dt'], test['dt']

In [6]:
t1 = train.groupby('qid')['day'].agg(['mean', 'std', 'count'])
t1[:60]

                    mean       std  count
qid
Q1000002524  3861.000000  0.000000      2
Q1000006560  3839.000000       NaN      1
Q1000007604  3840.500000  1.772811      8
Q1000008276  3863.142857  2.734262      7
Q1000010200  3857.000000       NaN      1
Q1000025766  3864.000000       NaN      1
Q100002777   3846.461538  1.126601     13
Q1000036156  3842.000000       NaN      1
Q1000041691  3838.000000       NaN      1
Q1000049860  3866.000000  1.000000      3
Q1000050745  3861.066667  0.593617     15
Q1000055583  3840.666667  0.577350      3
Q1000070819  3857.750000  0.500000      4
Q1000077463  3847.200000  2.067289     20
Q1000079202  3850.241379  5.200654     29
Q1000084722  3845.000000  0.000000      2
Q1000086802  3865.000000  0.000000     11
Q1000087420  3845.000000  0.000000      3
Q1000088167  3863.500000  3.535534      2
Q1000092002  3857.461538  6.520600     39
Q1000102961  3848.000000       NaN      1
Q1000103600  3861.000000       NaN      1
Q1000103719  3838.666667  0.577350      3
Q100010975   3863.000000  0.000000      5
Q100011376   3867.000000  0.000000      7
Q1000118149  3864.927273  0.262082     55
Q100013476   3859.000000       NaN      1
Q100013505   3851.100000  0.307794     20
Q1000136178  3854.000000  4.242641      2
Q1000136525  3856.142857  1.610406     14
Q1000145090  3852.000000  0.000000      3
Q1000146123  3864.000000  0.000000      2
Q1000152795  3864.583333  0.514929     12
Q1000161401  3865.000000  0.000000      3
Q100016731   3844.000000       NaN      1
Q1000168739  3867.000000  0.000000      2
Q1000169080  3851.750000  2.988615     12
Q100017023   3839.200000  0.447214      5
Q1000171974  3865.000000  0.000000      3
Q1000174644  3841.000000       NaN      1
Q1000179622  3867.000000       NaN      1
Q1000181584  3854.000000       NaN      1
Q1000183482  3848.000000  0.000000      7
Q10001862    3846.500000  8.698659      4
Q1000198552  3853.000000  3.727564     20
Q1000204651  3865.600000  0.894427      5
Q1000222391  3864.941176  0.899346     17
Q1000224997  3839.000000       NaN      1
Q1000225573  3864.000000  0.000000      4
Q1000225738  3858.000000       NaN      1
Q1000234060  3855.888889  1.166667      9
Q1000237775  3856.000000       NaN      1
Q1000246514  3847.000000  0.000000      4
Q1000250395  3842.000000       NaN      1
Q1000252928  3854.090909  1.868397     11
Q1000252936  3859.000000  0.000000      7
Q1000254627  3866.000000  1.154701      4
Q1000254782  3863.500000  1.224745      6
Q1000259634  3843.000000  0.000000      2
Q100026496   3847.967213  6.650732     61

In [8]:
t1['std'].mean()

1.3575970331048601

In [7]:
t2 = train.groupby('uid')['day'].agg(['mean', 'std', 'count'])
t2[:60]

                    mean        std  count
uid
M1000000382  3855.750000   9.982127      8
M1000000983  3853.071429   5.341626     14
M1000003304  3852.000000        NaN      1
M1000008978  3854.333333   5.809475      9
M1000009571  3865.000000        NaN      1
M1000009786  3853.600000   2.408319      5
M1000010662  3842.000000        NaN      1
M1000020034  3857.666667   6.350853      3
M1000022555  3853.200000   8.700575      5
M1000024720  3843.619048   4.779918     21
M1000025214  3852.444444   9.435453      9
M1000031027  3857.375000   6.906260      8
M1000036462  3853.250000   4.349329      4
M1000042265  3845.000000   0.000000      2
M1000043012  3853.222222   8.222308     36
M1000047678  3850.333333   7.773303     12
M1000052881  3854.583333   7.971065     12
M1000054663  3856.869565   7.238184     23
M1000055275  3850.000000   1.732051      3
M1000055649  3851.800000  12.029131      5
M1000058328  3859.000000   3.098387      6
M1000061714  3856.714286   6.237368      7
M1000063561  3857.500000  10.968136      6
M1000065584  3859.076923   5.283016     13
M1000067574  3850.000000   0.000000      2
M1000071070  3866.000000   1.414214      2
M1000071755  3864.500000   3.535534      2
M1000076506  3857.875000   9.818896      8
M1000083528  3842.000000        NaN      1
M1000084325  3849.571429   7.208054     14
M1000088648  3855.000000   8.286535      4
M1000094299  3858.111111   8.594249      9
M1000100245  3838.000000   0.000000      2
M1000100468  3865.500000   0.707107      2
M1000104430  3847.500000   0.707107      2
M1000108003  3852.100000   9.791720     10
M1000108348  3849.000000   7.325754      7
M1000111024  3846.500000   4.719934     10
M1000112869  3854.400000   7.092249      5
M1000114377  3853.500000   7.720823     10
M1000114698  3860.000000        NaN      1
M1000116530  3848.500000   2.121320      2
M1000117602  3852.000000   0.000000      2
M1000118495  3854.750000   6.396614      4
M100012390   3867.000000   0.000000      2
M1000141697  3853.833333   6.242329      6
M1000143987  3866.000000        NaN      1
M1000145377  3860.000000        NaN      1
M100014600   3839.666667   1.527525      3
M100015013   3852.500000   9.469248      4
M1000150536  3851.250000   5.909033      4
M100015470   3839.000000   0.000000      2
M1000158078  3854.250000   6.946222      4
M1000158519  3859.000000   5.773503      4
M100015868   3850.260870   9.928002     23
M1000167043  3854.555556  10.725100      9
M1000172721  3849.000000        NaN      1
M1000174601  3855.333333   9.118745     12
M1000181349  3867.000000        NaN      1
M1000183119  3861.000000   5.656854      2

In [9]:
t2['std'].mean()

6.49433203273301