In [15]:
import pandas as pd

In [34]:
import numpy as np

In [16]:
import pandas as pd
import multiprocessing

In [11]:
def fn(x, q):
    q.put(x)

In [12]:
pool = multiprocessing.Pool(processes=3)
l = multiprocessing.Queue()
for i in [100, 1000, 10000]:
    pool.apply_async(fn, (i, l))
pool.close()
pool.join()

In [18]:
# 加载 ans kfold feature
t1 = pd.read_csv(f'./feature/train_kfold_feature.txt', sep='\t')

Index(['day', 'hour', 'q_inv_kfold_mean', 'q_inv_kfold_sum', 'q_inv_kfold_std',
       'q_inv_kfold_count', 'u_inv_kfold_mean', 'u_inv_kfold_sum',
       'u_inv_kfold_std', 'u_inv_kfold_count',
       ...
       'q_reci_dis_mean', 'u_reci_dis_sum', 'u_reci_dis_max',
       'u_reci_dis_mean', 'q_diff_qa_days_sum', 'q_diff_qa_days_max',
       'q_diff_qa_days_mean', 'u_diff_qa_days_sum', 'u_diff_qa_days_max',
       'u_diff_qa_days_mean'],
      dtype='object', length=102)

In [44]:
del t1

In [43]:
print(list(t1.columns))

['day', 'hour', 'q_inv_kfold_mean', 'q_inv_kfold_sum', 'q_inv_kfold_std', 'q_inv_kfold_count', 'u_inv_kfold_mean', 'u_inv_kfold_sum', 'u_inv_kfold_std', 'u_inv_kfold_count', 'q_ans_kfold_count', 'u_ans_kfold_count', 'q_is_good_sum', 'q_is_good_max', 'q_is_good_mean', 'u_is_good_sum', 'u_is_good_max', 'u_is_good_mean', 'q_is_rec_sum', 'q_is_rec_max', 'q_is_rec_mean', 'u_is_rec_sum', 'u_is_rec_max', 'u_is_rec_mean', 'q_is_dest_sum', 'q_is_dest_max', 'q_is_dest_mean', 'u_is_dest_sum', 'u_is_dest_max', 'u_is_dest_mean', 'q_has_img_sum', 'q_has_img_max', 'q_has_img_mean', 'u_has_img_sum', 'u_has_img_max', 'u_has_img_mean', 'q_has_video_sum', 'q_has_video_max', 'q_has_video_mean', 'u_has_video_sum', 'u_has_video_max', 'u_has_video_mean', 'q_word_count_sum', 'q_word_count_max', 'q_word_count_mean', 'u_word_count_sum', 'u_word_count_max', 'u_word_count_mean', 'q_reci_cheer_sum', 'q_reci_cheer_max', 'q_reci_cheer_mean', 'u_reci_cheer_sum', 'u_reci_cheer_max', 'u_reci_cheer_mean', 'q_reci_uncheer_sum', 'q_reci_uncheer_max', 'q_reci_uncheer_mean', 'u_reci_uncheer_sum', 'u_reci_uncheer_max', 'u_reci_uncheer_mean', 'q_reci_comment_sum', 'q_reci_comment_max', 'q_reci_comment_mean', 'u_reci_comment_sum', 'u_reci_comment_max', 'u_reci_comment_mean', 'q_reci_mark_sum', 'q_reci_mark_max', 'q_reci_mark_mean', 'u_reci_mark_sum', 'u_reci_mark_max', 'u_reci_mark_mean', 'q_reci_tks_sum', 'q_reci_tks_max', 'q_reci_tks_mean', 'u_reci_tks_sum', 'u_reci_tks_max', 'u_reci_tks_mean', 'q_reci_xxx_sum', 'q_reci_xxx_max', 'q_reci_xxx_mean', 'u_reci_xxx_sum', 'u_reci_xxx_max', 'u_reci_xxx_mean', 'q_reci_no_help_sum', 'q_reci_no_help_max', 'q_reci_no_help_mean', 'u_reci_no_help_sum', 'u_reci_no_help_max', 'u_reci_no_help_mean', 'q_reci_dis_sum', 'q_reci_dis_max', 'q_reci_dis_mean', 'u_reci_dis_sum', 'u_reci_dis_max', 'u_reci_dis_mean', 'q_diff_qa_days_sum', 'q_diff_qa_days_max', 'q_diff_qa_days_mean', 'u_diff_qa_days_sum', 'u_diff_qa_days_max', 'u_diff_qa_days_mean']

In [19]:
list(t1.columns)

['day',
 'hour',
 'q_inv_kfold_mean',
 'q_inv_kfold_sum',
 'q_inv_kfold_std',
 'q_inv_kfold_count',
 'u_inv_kfold_mean',
 'u_inv_kfold_sum',
 'u_inv_kfold_std',
 'u_inv_kfold_count',
 'q_ans_kfold_count',
 'u_ans_kfold_count',
 'q_is_good_sum',
 'q_is_good_max',
 'q_is_good_mean',
 'u_is_good_sum',
 'u_is_good_max',
 'u_is_good_mean',
 'q_is_rec_sum',
 'q_is_rec_max',
 'q_is_rec_mean',
 'u_is_rec_sum',
 'u_is_rec_max',
 'u_is_rec_mean',
 'q_is_dest_sum',
 'q_is_dest_max',
 'q_is_dest_mean',
 'u_is_dest_sum',
 'u_is_dest_max',
 'u_is_dest_mean',
 'q_has_img_sum',
 'q_has_img_max',
 'q_has_img_mean',
 'u_has_img_sum',
 'u_has_img_max',
 'u_has_img_mean',
 'q_has_video_sum',
 'q_has_video_max',
 'q_has_video_mean',
 'u_has_video_sum',
 'u_has_video_max',
 'u_has_video_mean',
 'q_word_count_sum',
 'q_word_count_max',
 'q_word_count_mean',
 'u_word_count_sum',
 'u_word_count_max',
 'u_word_count_mean',
 'q_reci_cheer_sum',
 'q_reci_cheer_max',
 'q_reci_cheer_mean',
 'u_reci_cheer_sum',
 'u_reci_cheer_max',
 'u_reci_cheer_mean',
 'q_reci_uncheer_sum',
 'q_reci_uncheer_max',
 'q_reci_uncheer_mean',
 'u_reci_uncheer_sum',
 'u_reci_uncheer_max',
 'u_reci_uncheer_mean',
 'q_reci_comment_sum',
 'q_reci_comment_max',
 'q_reci_comment_mean',
 'u_reci_comment_sum',
 'u_reci_comment_max',
 'u_reci_comment_mean',
 'q_reci_mark_sum',
 'q_reci_mark_max',
 'q_reci_mark_mean',
 'u_reci_mark_sum',
 'u_reci_mark_max',
 'u_reci_mark_mean',
 'q_reci_tks_sum',
 'q_reci_tks_max',
 'q_reci_tks_mean',
 'u_reci_tks_sum',
 'u_reci_tks_max',
 'u_reci_tks_mean',
 'q_reci_xxx_sum',
 'q_reci_xxx_max',
 'q_reci_xxx_mean',
 'u_reci_xxx_sum',
 'u_reci_xxx_max',
 'u_reci_xxx_mean',
 'q_reci_no_help_sum',
 'q_reci_no_help_max',
 'q_reci_no_help_mean',
 'u_reci_no_help_sum',
 'u_reci_no_help_max',
 'u_reci_no_help_mean',
 'q_reci_dis_sum',
 'q_reci_dis_max',
 'q_reci_dis_mean',
 'u_reci_dis_sum',
 'u_reci_dis_max',
 'u_reci_dis_mean',
 'q_diff_qa_days_sum',
 'q_diff_qa_days_max',
 'q_diff_qa_days_mean',
 'u_diff_qa_days_sum',
 'u_diff_qa_days_max',
 'u_diff_qa_days_mean']

In [20]:
a = pd.DataFrame({'a':[1,2,1,1], 'b':[0,4,0,6]})

In [22]:
a['c'] = [10,20,30,40]

In [23]:
a

   a  b   c
0  1  0  10
1  2  4  20
2  1  0  30
3  1  6  40

In [24]:
a.groupby(['a', 'b'])['c'].mean()

a  b
1  0    20
   6    40
2  4    20
Name: c, dtype: int64

In [25]:
b = a.groupby(['a', 'b'])['c'].mean()
b.reset_index()

   a  b   c
0  1  0  20
1  1  6  40
2  2  4  20

In [27]:
for i in range(1, 10, 2):
    print(i)

1
3
5
7
9

In [39]:
a['d'] = [100, np.nan,200,420]
a

   a  b   c      d
0  1  0  10  100.0
1  2  4  20    NaN
2  1  0  30  200.0
3  1  6  40  420.0

In [40]:
((a['d'].fillna(0))*23/30)

0     76.666667
1      0.000000
2    153.333333
3    322.000000
Name: d, dtype: float64

In [41]:
((a['d'].fillna(0))*23/30).astype('int32')

0     76
1      0
2    153
3    322
Name: d, dtype: int32