In [5]:
import pandas as pd

In [97]:
def test(xa, xb):
    return [2*xa, 2*xb]
d=pd.DataFrame({'a':[3,1,2], 'b':[4,5,6]})
d.apply(lambda x:test(x['a'], x['b']), axis=1, result_type='expand')
# d.apply(lambda x: x.describe())

   0   1
0  6   8
1  2  10
2  4  12

In [122]:
d

   a  b
0  3  4
1  1  5
2  2  6

In [126]:
from joblib import Parallel, delayed

In [149]:
def fn(df,t):
    df['c'] = df['a'] + 1
    df['d'] = df['b'] + 1
    return df

In [154]:
d_group = d[:2].groupby(d[:2].index)
results = Parallel(n_jobs=-1)(delayed(fn)(row,'a') for name, row in d_group)
print(type(results))
res = pd.concat(results)
res

<class 'list'>

   a  b  c  d
0  3  4  4  5
1  1  5  2  6

In [152]:
results_list

[0    5
 Name: a, dtype: int64, 1    3
 Name: a, dtype: int64, 2    4
 Name: a, dtype: int64]

In [153]:
res['a'].iloc[0]

3

In [1]:
from collections import Counter

In [2]:
k = [1,2,3,3,3,4,1]
c = Counter(k)

In [3]:
c

Counter({1: 2, 2: 1, 3: 3, 4: 1})

In [4]:
d = c.most_common(2)

In [5]:
d

[(3, 3), (1, 2)]

In [ ]:
x
for dd in d:
    x[dd[0]] = d

In [7]:
a = [3,3,1,2,2,2]
e = Counter(a)
e

Counter({3: 2, 1: 1, 2: 3})

In [10]:
38057*29 + 38060 -30

1141683